
.thinking, .ended {
	pointer-events: none;
}
.ready .busy, .ended .busy {
	visibility: hidden;
}

#reset {
	position: absolute;
	right: 5px;
	top: 5px;
}

h1 {
	margin: 20px;
}

/* Main */
main {
	margin-top: 20px;
}

	main .col {
		min-width: 617px;
		padding: 0;
	}

	#human-choices {
		display: block;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
	}

		#human-choices li {
			cursor: pointer;
			background-image: url(../img/rps.png);
			background-repeat: no-repeat;
			background-size: cover;
			width: 100px;
			display: inline-block;
			margin: 0 40px;
		}

		#human-choices .paper {
			background-position: 0 0;
			height: 71px;
		}

		#human-choices .rock {
			background-position: 0 -71px;
			height: 36px;
			margin-bottom: 9px;
		}

		#human-choices .scissors {
			background-position: 0 -107px;
			height: 40px;
		}

	.choice {
		background-image: url(../img/rps.png);
		background-repeat: no-repeat;
		/* background-size: cover; */
		display: block;
		width: 100%;
	}

	#ai.choice {
		transform-origin: 50% 0;
		transform: scaleX(-1);
		filter: FlipH;
	}

	.choice.paper {
		height: 439px;
		background-position: 0 0;
	}

	.choice.rock {
		height: 220px;
		margin-top: 109.5px;
		background-position: 0 -439px;
	}

	.choice.scissors {
		height: 215px;
		margin-top: 112px;
		background-position: 0 -659px;
	}

	@keyframes tilt {
		from { opacity: 1; }
		to { opacity: 0.3; }
	}

	.choice.lost {
		animation-name: tilt;
		animation-duration: 0.3s;
		animation-iteration-count: 6;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}

	.busy {
		height: 77px;
		display: block;
		margin: 0 auto 20px auto;
	}
